* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(242, 132, 236, 0.432);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lang-card {
  box-shadow: 3px 3px 15px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.lang-card:hover .lang-logo {
  transform: scale(1.2);
}
